<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265294391826-iatrfijvb6sp42le9ecbh38dm3gk7i1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265294391826-iatrfijvb6sp42le9ecbh38dm3gk7i1m</string>
	<key>API_KEY</key>
	<string>AIzaSyA5c9aZrp7br0D2x_28wRNwcG81T3YOYR4</string>
	<key>GCM_SENDER_ID</key>
	<string>265294391826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.diegoferreira.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-c9508</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-c9508.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265294391826:ios:c80f301ae4d48c660e86cb</string>
</dict>
</plist>